@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Semibold";
  src: url(../fonts/Roboto_SemiCondensed-SemiBold.ttf);
}

.parent {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.parent .center {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}
.parent .center .img-arrow {
  position: absolute;
  top: -10px;
  left: 0%;
}
.parent .bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 17%;
  left: 17%;
  border-radius: 50%;
  background-color: #5cd160;
  z-index: 3;
}
.parent .bg .img-icon {
  width: 30px;
  height: 30px;
  z-index: 2;
}
.child {
  width: 70px;
  height: 35px;
  position: absolute;
  top: 13px;
  left: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}
.child p {
  font-family: "Roboto Semibold", sans-serif;
  color: #47a34a;
  font-size: 20px;
  text-align: right;
  margin: 0;
  position: relative;
  right: 18%;
  top: 52%;
  transform: translateY(-50%);
}
