<div class="form d-flex">
  <!-- <input type="text" />
  <select
    class="form-select transports-type"
    aria-label="Default select example"
  >
    <option value="Трамвай">Трамвай</option>
    <option value="Автобус">Автобус</option>
  </select>
  <select class="form-select direction" aria-label="Default select example">
    <option value="Вниз">Вниз</option>
    <option value="Вверх">Вверх</option>
  </select> -->
  <button class="btn btn-danger save-btn">Сохранить маршрут</button>
  <button class="btn btn-unfo hand-mode">Счетчик</button>
</div>
