<!-- Vertically centered modal -->
<div
  class="modal fade"
  id="settingModalToggle"
  aria-labelledby="settingModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingModalToggleLabel">Настройки</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-group mb-2">
            <label for="languageSelect">Язык:</label>
            <select class="form-select" id="languageSelect">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="mapSelect">Тип карты:</label>
            <select class="form-select" id="mapSelect">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">
          Применить
        </button>
      </div>
    </div>
  </div>
</div>
